/*  your css code here. If applicable */
#container{
	margin:20px;
	color:rgb(0, 0, 0);
}
p:before{
	content:"Before Element ";
	color:#f00;
	font-size:20px;
}
p:after{
	content:" After Element";
	color:#f00;
	font-size:20px;
}